.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 3fr 2.5fr 2.5fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 2.5fr 1.5fr 2.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 2.5fr 1.5fr 1.5fr 3fr;
  gap: 5px 5px;
  grid-template-areas:
    ". . ."
    ". personalDataTitle ."
    "persName . ."
    "persAdr persDataAdr ."
    "persBirth persDataBirth ."
    "persTel persDataTel ."
    "persMobile persDataMobile ."
    "persEmail persDataEmail ."
    ". . ."
    "backgroundTitle backgroundTitle backgroundTitle"
    "backgroundDateOne backgroundFormOneName ."
    "backgroundFormTwo backgroundFormTwoName ."
    "backgroundFormThree backgroundFormThreeName ."
    ". . ."
    "educationTitle educationTitle educationTitle"
    "educationFromTo shoolMain shoolMain"
    "specialKnowledge specialKnowledge specialKnowledge"
    "specialKnowledgeOne specialKnowledgeOne specialKnowledgeOne"
    "specialKnowledgeTwo specialKnowledgeTwo specialKnowledgeTwo"
    "specialKnowledgeThree specialKnowledgeThree specialKnowledgeThree"
    "specialKnowledgeFour specialKnowledgeFour specialKnowledgeFour"
    "specialKnowledgeFive specialKnowledgeFive specialKnowledgeFive"
    "language language language"
    "german languageGerman ."
    "english languageEnglish ."
    ". . .";
}

.persName { grid-area: persName; }

.persAdr { grid-area: persAdr; }

.persBirth { grid-area: persBirth; }

.persTel { grid-area: persTel; }

.persMobile { grid-area: persMobile; }

.persEmail { grid-area: persEmail; }

.personalDataTitle { grid-area: personalDataTitle; }

.persDataAdr { grid-area: persDataAdr; }

.persDataBirth { grid-area: persDataBirth; }

.persDataTel { grid-area: persDataTel; }

.persDataMobile { grid-area: persDataMobile; }

.persDataEmail { grid-area: persDataEmail; }

.backgroundTitle { grid-area: backgroundTitle; }

.backgroundDateOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "backgroundDateFromOne backgroundDateToOne";
  grid-area: backgroundDateOne;
}

.backgroundDateFromOne { grid-area: backgroundDateFromOne; }

.backgroundDateToOne { grid-area: backgroundDateToOne; }

.backgroundFormTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "backgroundDateFromTwo backgroundDateFromTwobackgroundDateToTwo";
  grid-area: backgroundFormTwo;
}

.backgroundDateFromTwobackgroundDateToTwo { grid-area: backgroundDateFromTwobackgroundDateToTwo; }

.backgroundDateFromTwo { grid-area: backgroundDateFromTwo; }

.backgroundFormThree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "backgroundDateFromThree backgroundDateToThree";
  grid-area: backgroundFormThree;
}

.backgroundDateFromThree { grid-area: backgroundDateFromThree; }

.backgroundDateToThree { grid-area: backgroundDateToThree; }

.backgroundFormOneName { grid-area: backgroundFormOneName; }

.backgroundFormTwoName { grid-area: backgroundFormTwoName; }

.backgroundFormThreeName { grid-area: backgroundFormThreeName; }

.educationTitle { grid-area: educationTitle; }

.educationFromTo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "educationDateFrom educationDateTo";
  grid-area: educationFromTo;
}

.educationDateFrom { grid-area: educationDateFrom; }

.educationDateTo { grid-area: educationDateTo; }

.shoolMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  grid-area: shoolMain;
}

.specialKnowledge { grid-area: specialKnowledge; }

.specialKnowledgeOne { grid-area: specialKnowledgeOne; }

.specialKnowledgeTwo { grid-area: specialKnowledgeTwo; }

.specialKnowledgeThree { grid-area: specialKnowledgeThree; }

.specialKnowledgeFour { grid-area: specialKnowledgeFour; }

.specialKnowledgeFive { grid-area: specialKnowledgeFive; }

.language { grid-area: language; }

.german { grid-area: german; }

.english { grid-area: english; }

.languageEnglish { grid-area: languageEnglish; }

.languageGerman { grid-area: languageGerman; }
