// Document CSS-GRID

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "personal personal-data"
    "bw bw-data"
    "sh sh-data"
    "bkq bkq"
    "lang lang-data"
    "btn-dg btn-back";
}

.personal { grid-area: personal; }

.personal-data { grid-area: personal-data; }

.bw {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "bw1-f bw1-t"
    "bw2-f bw2-t"
    "bw3-f bw3-t";
  grid-area: bw;
}

.bw1-f { grid-area: bw1-f; }

.bw1-t { grid-area: bw1-t; }

.bw2-f { grid-area: bw2-f; }

.bw2-t { grid-area: bw2-t; }

.bw3-f { grid-area: bw3-f; }

.bw3-t { grid-area: bw3-t; }

.bw-data { grid-area: bw-data; }

.sh {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "sh-f sh-t";
  grid-area: sh;
}

.sh-f { grid-area: sh-f; }

.sh-t { grid-area: sh-t; }

.sh-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "sh-sn sh-yn";
  grid-area: sh-data;
}

.sh-sn { grid-area: sh-sn; }

.sh-yn { grid-area: sh-yn; }

.bkq { grid-area: bkq; }

.lang { grid-area: lang; }

.lang-data { grid-area: lang-data; }

.btn-dg { grid-area: btn-dg; }

.btn-back { grid-area: btn-back; }