.details {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 4fr 1fr;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
}

.details .recentNewUser{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}

.details .recentNewUser .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.details .recentNewUser .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details .recentNewUser table tr:hover{
    background: #03a9f4;
    color: #fff;
}

.details .recentNewUser table tr td{
    padding: 7px 10px;
}

.details .recentNewUser table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.details .recentNewUser table tr td span{
    font-size: 14px;
    color: #999;
}